<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OCWCD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>adminEmail</param-name>
    <param-value>Context Param!</param-value>
  </context-param>
  <listener>
    <listener-class>com.example.listener.MyServletContextListener</listener-class>
  </listener>
  <listener>
  <listener-class>com.example.listener.MyServletContextAttributeListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Ch3beer</servlet-name>
    <servlet-class>com.example.web.BeerSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ch3beer</servlet-name>
    <url-pattern>/SelectBeer.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PrintHeadersServlet</servlet-name>
    <servlet-class>com.example.web.PrintHeadersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintHeadersServlet</servlet-name>
    <url-pattern>/PrintHeaders.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFileServlet</display-name>
    <servlet-name>GetFileServlet</servlet-name>
    <servlet-class>com.example.web.GetFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFileServlet</servlet-name>
    <url-pattern>/GetFileServlet</url-pattern>
    <url-pattern>/GetFile.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitParametersServlet</display-name>
    <servlet-name>InitParametersServlet</servlet-name>
    <servlet-class>com.example.web.InitParametersServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>adminEmail</param-name>
      <param-value>Servlet Param!</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParametersServlet</servlet-name>
    <url-pattern>/InitParameters.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTestingServlet</display-name>
    <servlet-name>SessionTestingServlet</servlet-name>
    <servlet-class>com.example.web.SessionTestingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTestingServlet</servlet-name>
    <url-pattern>/SessionTesting.do</url-pattern>
  </servlet-mapping>
</web-app>